<!DOCTYPE html>

<html>

<head>
    <title>
        Dashboard
    </title>

    <meta charset='utf-8' />


    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link href='css/normalize.css' rel='stylesheet' />


    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>
    <div class="page page--dashboard">
        <aside class="page__aside aside vertical vertical--big">
            <div class="text aside__logo">
                Sidebar
            </div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-butoon--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>

            </nav>
        </aside>

        <header class="header">
            <div class="layout header__content text--small">
                <div class="header_search relative">
                    <input type="text" placeholder="Search" class="text field field-header">
                    <span class="icon header__icon-search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon header__icon-settings icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/settings.svg')"></span>
                </div>
                <div class="header_icons">
                    <span class="icon header__icon icon--color-yellow click"
                        style="background-image: url('/svg/header/wifi.svg')"></span>
                    <span class="icon header__icon header__icon-blue click"
                        style="background-image: url('/svg/header/translate.svg')"></span>
                    <span class="icon header__icon icon--color-yellow click"
                        style="background-image: url('/svg/header/notiec.svg')"></span>
                </div>
            </div>

        </header>

        <main class="main">
            <div class="layout vertical--super-big">
                <section class="box analytic__block vertical--big">
                    <div class="analytic analytic__double analytic--blue">

                        <span class="icon analytic_button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/order.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light text--bold">$961</div>
                            <div class="text text--small text--lighter">Total Order</div>

                            <span class="icon analytic_arrow"
                                style="background-image: url('/svg/analytic/blue-arrow.svg')"></span>
                        </div>
                    </div>


                    <div class="analytic analytic__double analytic--purpule">
                        <span class="icon analytic_button icon--button icon--color-purpule click"
                            style="background-image: url('/svg/analytic/erning.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light text--bold">$500.00</div>
                            <div class="text text--small text--lighter">Total earning</div>

                            <span class="icon analytic_arrow"
                                style="background-image: url('/svg/analytic/purpule-arrow.svg')"></span>
                        </div>
                    </div>


                    <div class="analytic analytic__small analytic--blue vertical--small">
                        <span class="icon analytic_button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/erning.svg')"></span>
                        <div class="relative vertical vertical--xsmall">
                            <div class="analytic__title text text--medium text--light text--bold">$203k</div>
                            <div class="text text--small text--lighter">Total Income</div>
                        </div>
                    </div>

                    <div class="analytic analytic__small analytic--white vertical--small">
                        <span class="icon analytic_button icon--button icon--color-yellow click"
                            style="background-image: url('/svg/analytic/income.svg')"></span>
                        <div class="relative vertical vertical--xsmall">
                            <div class="analytic__title text text--medium text--dark text--bold">$203k</div>
                            <div class="text text--small text--gray-l">Total Income</div>
                        </div>

                    </div>

                </section>
                <section class="main__double">
                    <div class="pursher-list box">
                        <h2 class="title-24 text text--bold">Purchase list</h2>
                        <div class="divider">
                            <hr>
                        </div>
                        <div class="pursher__content text">
                            <div>ID437661</div>
                            <div>AirOn ProCam</div>
                            <div>132.32 EUR</div>
                            <div>Customer</div>
                            <div>May 11, 2023, 14:21</div>
                            <div>7/8 USB Type-C</div>
                            <div class="text--warning">Not paid</div>
                            <div>robin@com.de</div>
                        </div>
                        <div class="divider">
                            <hr>
                        </div>
                        <div class="pursher__content text">
                            <div>ID437661</div>
                            <div>PHILIPS Essential</div>
                            <div>543 USD</div>
                            <div>Customer</div>
                            <div>May 11, 2023, 14:21</div>
                            <div>HD9200/90</div>
                            <div class="text--success">Pay by Stripe</div>
                            <div>dima@com.ua</div>
                        </div>
                    </div>

                    <div class="form__payment box">
                        <h2 class="title-24 text text--bold">Payment</h2>
                        <div>
                            <hr>
                        </div>
                        <div class="form-checkbox">

                            <div class="form__radio">
                                <input type="radio" name="card" class="input-radio">
                                {{!-- <div class="input__radio"></div> --}}
                                <span>Credit card</span>
                            </div>
                            <div class="form__radio">
                                <input type="radio" name="card" class="input-radio">

                                <span>Debit card</span>
                            </div>
                            <div class="form__radio">
                                <input type="radio" name="card" class="input-radio">

                                <span>PayPal</span>
                            </div>
                        </div>


                        <div class="form__card vertical--big">
                            <div class="form__name-card">
                                <label for="" class="form__label text">Name on card</label>
                                <input type="text" class="text field field--form">
                            </div>


                            <div class="form__name-card">
                                <label for="" class="form__label text">Credit card number</label>
                                <input type="text" class="text field field--form">
                            </div>



                            <div class="form__name-card">
                                <label for="" class="form__label text">Expiration</label>
                                <input type="text" class="text field field--form">
                            </div>
                            <div class="form__name-card">
                                <label for="" class="form__label text">CVV</label>
                                <input type="text" class="text field field--form">
                            </div>

                        </div>

                        <div>
                            <hr>
                        </div>


                        <div class="form__selected vertical--big">
                            <div class="form__select vertical--xsmall">
                                <label for="">Country</label>
                                <div class="relative click">
                                    <div class="field  field--form field--select relative">
                                        <span class="text text--dark">Choose...</span>

                                    </div>
                                    <span class="icon header__icon-settings icon--button click"
                                        style="background-image: url('/svg/form/select.svg')"></span>
                                    <select class="field__select">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="hamster">Hamster</option>
                                        <option value="parrot">Parrot</option>
                                        <option value="spider">Spider</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form__select vertical--xsmall">
                                <label for="">State</label>
                                <div class="relative click">
                                    <div class="field field--form field--select relative">
                                        <span class="text text--dark">Choose...</span>
                                    </div>
                                    <span class="icon header__icon-settings icon--button click"
                                        style="background-image: url('/svg/form/select.svg')"></span>
                                    <select class="field__select">
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="hamster">Hamster</option>
                                        <option value="parrot">Parrot</option>
                                        <option value="spider">Spider</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div>
                            <hr>
                        </div>

                        <a href="#" class="nav-button nav-butoon--active click text--center">

                            <span class="text text--whith">Continue to checkout</span>
                        </a>
                    </div>

                </section>
            </div>

        </main>
    </div>
</body>

</html>