<main class="p-5">

    <div class="card p-5">
        <p id="test">
            Hello World!! Hello World!!
        </p>
        <div id="test">
            Hello World!!
        </div>
        <span id="test" class="span-b">
            test!!
        </span>
    </div>
    <pre>
    gdfsgf
    </pre>

    {{!-- ==========Словник ======= --}}

    <div id="slovnik" class="card p-5">
        <p>
            Hello World!! Hello World!!
        </p>
        <div>
            Hello World!!
        </div>
        <span>
            test!!
        </span>
    </div>

    <div> Block </div>
    <div> Block </div>
    <div> Block </div>
    <div> Block </div>


    <div style="padding: 50px 0 50px 100px; background: gray; height: 200px">

        <span> Inline </span>
        <span> Inline </span>
        <span> Inline </span>
        <span class="block"> inline-blok </span>
    </div>
    <div> Block </div>


</main>