:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #e6e1de;
  --color-primary: rgb(45, 45, 231);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;
  --color-text2: #6c757d;
  --color-gray: #f8f9fa;

  --border-radius-d: 12px;
  --border-radius-s: 4px;

  --weight-title: 700;
  --weight-text: 400;

  --page-width: 1000px;
}

/* ========================= */
body {
  font-family: Roboto, sans-serif;
}
.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}
.page_content {
  max-width: var(--page-width);
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;

  /* padding-top: 74px; */
}
/* ================================================= */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;

  position: sticky;

  max-width: var(--page-width);
  width: 100%;

  top: 0px;
  /* left: calc(50% - var(--page-width) / 2); */
  background-color: var(--color-white);

  z-index: 1;
}
.logo {
  font-size: 18px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius-d) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inLine {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  line-height: 100%;

  transition-property: color;
  transition-duration: 1s;
}
.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}
.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}
.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

/* ===Template-6=== */
.main {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--space-l);
}
.info {
  max-width: 580px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);
}

.info_title {
  font-size: 56px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}

.info_description {
  display: flex;
  align-items: center;
  max-width: 412px;
  width: 100%;
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-text);
  line-height: 150%;
}

.form {
  max-width: 394px;
  width: 100%;

  background-color: var(--color-gray);
  border: 1px solid #dee2e6;

  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: calc(var(--space-m) * 5) calc(var(--space-m) * 4);
}
.form_info {
  max-width: 300px;
  width: 100%;
  text-align: center;
  font-size: var(--size-s);
  font-weight: var(--weight-text);
  color: var(--color-text2);
}
.form_button {
  font-size: var(--size-d);
  text-align: center;
  padding: var(--space-s);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-s);

  transition: opasity 0.75s;
}

.form_button:hover {
  opacity: 0.7;
}
.form_button:active {
  opacity: 0.3;
}
.form_border_line {
  border-bottom: 1px solid var(--color-border);
}
.form_input_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}
.form_input {
  padding: var(--space-xm) var(--space-m);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
  background-color: var(--color-white);
}
.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-s);
}
.form_checkbox {
  display: flex;

  gap: calc(var(--space-s) / 2);
  align-items: center;
}

.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer;
}

.upd {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius-s);
}
.upd_title {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-title);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}
.upd_list {
  display: flex;
  gap: var(--space-s);
  padding-bottom: var(--space-m);
}
.upd_image {
  height: 32px;
  width: 32px;
  float: left;
}

.upd_nickname {
  font-size: var(--size-s);
  color: var(--color-text2);
  font-weight: var(--weight-text);
}
.upd_description {
  font-size: var(--size-d);
  color: var(--color-text2);
  font-weight: var(--weight-text);
}
.upd_text {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding-bottom: var(--space-m);
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.upd_link {
  color: var(--color-primary);
  font-size: var(--size-s);
  align-self: flex-start;

  transition-duration: 0.7s;

  transition-property: opasity, border-color;
}
.upd_link:hover {
  opacity: 0.7;
}

.expirience {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);
  background-color: var(--color-gray);
  border-radius: var(--border-radius-s);
}
.exp_title {
  font-size: 42px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}
.exp_list_block {
  display: flex;
  gap: var(--space-l);
}
.exp_list {
  max-width: calc((100% - var(--space-l) * 2) / 3);
  width: 100%;
  background-color: var(--color-title);
  border-radius: var(--border-radius-d);
  padding: var(--space-xm);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}
.exp_name {
  font-size: var(--size-l);
  color: var(--color-white);
  font-weight: var(--weight-title);
  line-height: 130%;
}
.exp_details {
  font-size: var(--size-d);
  color: #b1b1b1;
  font-weight: var(--weight-text);
  line-height: 140%;
}
.expirience {
  position: relative;
}
.exp_badge {
  max-width: fit-content;
  max-height: fit-content;
  background-color: #ff7347;
  padding: var(--space-m) var(--space-l);
  border-radius: 70px;
  font-size: var(--size-l);
  color: var(--color-white);
  position: absolute;
  right: -30px;
  top: -15px;
  transform: rotate(30deg);
  z-index: 1;
}
