{{#with data}}
<div class="card_featured">
    <img src="{{photo}}" alt="photo_title 64x64" class="card_image">
    <h2 class="card_title">{{heading}}</h2>
    <p class="card_text">{{info}}</p>
    <a href="linkUrl" class="nav_link">{{linkText}}</a>
</div>
{{/with}}